body {
    background-color: #b1b1b1;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 5%;
}

form {
    font-family: "Courier New", Courier, monospace;
    border-radius: 15px;
    border: 1px solid #8f368f;
    background-color: #f8d8ff;
    box-shadow: 5px 5px 8px 0px rgb(87, 87, 87);
    padding: 20px;
    align-items: center;
    width: 100%;
    max-width: 450px;
    }

h2 {
    text-align: center;
}

label {
    align-items: center;
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #8f368f;
    border-radius: 5px;
    box-sizing: border-box;
}

label[for="m"],
label[for="f"],
label[for="other"] {
    display: inline-block;
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="checkbox"] {
    margin-right: 8px;
}

input[type="submit"] {
    width: 100%;
    background-color: #8f368f;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    font-size: medium;
    cursor:pointer;
}

input[type="submit"]:hover {
    background-color: #c773c7;
} 

.error {
    color: red;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
}

input:invalid {
    border: 1px solid red;
}

input[type="checkbox"]:invalid {
    outline: 2px solid red;
}